.workout-card {
    width: 320px;
    background: #fff;
    color: black;
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
  }
  
  .workout-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    height: 100%;
    transition: transform 0.4s ease;
  }
  
  .workout-card-top, .workout-card-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .workout-card-title, .workout-card-date {
    margin: 0;
  }
  
  .workout-card-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .workout-card-date {
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
  }
  
  .workout-card-bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .workout-card-bottom p {
    margin: 0;
    font-weight: 600;
  }
  
  .workout-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px; /* Increased gap between icons */
  }
  
  .workout-card-actions .edit-btn,
  .workout-card-actions .delete-btn {
    border-radius: 50%;
    padding: 8px;
    transition: background-color 0.3s ease;
  }
  
  .workout-card-actions .edit-btn:hover,
  .workout-card-actions .delete-btn:hover {
    transform: scale(1.2); 
  }
  
  .workout-card-actions .edit-btn,
  .workout-card-actions .delete-btn {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .workout-card-actions .edit-btn:hover,
  .workout-card-actions .delete-btn:hover {
    background-color: transparent;
  }
  
  
  .workout-card-actions .edit-btn,
  .workout-card-actions .delete-btn {
    font-size: 1.2rem;
  }
  
  .workout-card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .workout-card-image svg {
    width: 4em;
    height: 4em;
    transition: transform 0.4s ease;
  }
  
  .workout-card:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  
  .workout-card:hover .workout-card-content {
    transform: scale(0.96);
  }
  
  .workout-card:hover .workout-card-image svg {
    transform: scale(1.05);
  }
  
  .workout-card:active {
    transform: scale(0.9);
  }
  